html,
body {
    margin: 0;
    padding: 0;
}


button {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 5;
    background: #f5f5f5;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: bold;
    color: #000000;
    border-radius:15px;
}

body {
    font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: lightblue;
    color: #4d4d4d;
    max-width: 1000px;
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    border-bottom-width: 0;
}

RAM-data {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

 .RAM {
    border-radius: 10px;
    width: 20em;
    font-size: 18px;
    background-color: #f5f5f5;
 }
 
 .number {
    height: 15px;
    width: 20px;
    position: relative;
    float: right;
    
 }


.button_list {
    margin:auto;
    padding-top: 20px;
    position:relative;
    height: 100px;
    width: 360px;
}

.instruction {
    border-radius: 10px;
    position: relative;
    width: 20em;
    height: 16em;
    font-size: 18px;
    background-color: lightblue;

}

.message {
    border-radius: 10px;
    position: relative;
    float:right;
    display: inline;
    width: 20em;
    height: 8em;
    font-size: 18px;
    background-color: #f5f5f5;
}

.Page {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-bottom-width: 0px;
}

.left {
    display:block;
    padding: 50px;
    position: relative;
    float: left;
}

.right {
    padding: 50px;
    position: relative;
    float: right;
}
.middle {
    position: relative;
    margin: auto;
}

.registers {
    border-radius: 10px;
    line-height: 2em;
    font-size: 18px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}


.button1 {
    position: relative;
    margin: 0;
}

.button2 {
    position: relative;
    margin: 0;
}

.button3 {
    position: relative;
    margin: 0;
}

.button4 {
    position: relative;
    margin: 0;
}

button:hover {
    background: green;
    opacity:0.5;
}

button:disabled {
    background: grey;
}


.speed {
    height: 1em;
    width: 2em;
}

.input_instruction {
    height: 292px;
    width: 352px;
    position: relative;
    float: right;
    font-size:18px;
    line-height: 1.4em;

}

.line {
    height: 1.4em;
    background-color: lightblue;
    padding: 0px;
    font-size: 18px;
}


#codeTextarea{
    width:500px;
    height:510px;
}

.textAreaWithLines{
    font-family:inherit;      
    border:0px solid
      
}
   
.textAreaWithLines textarea,.textAreaWithLines div{
    border:0px;
    line-height:120%;
    font-size:15px;
    font-weight: normal;
}
   
.lineObj{
    color:black;
}

